Binaries
DerivedDataCache
Intermediate
Saved
Content/AssetPacks
Content/ParagonGreystone
Content/MedievalDungeon
Content/Cave
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace